.container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    background-color: rgb(58, 54, 54);
    justify-content: center;
}

@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: auto;
  }
}