.container {
  background-image: url("../../../imagenes/Background.jpg");
  display: grid;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  min-height: 100vh;
}

.img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10%;
  bottom: 0;
  max-width: 80vw;
  height: 78vh;
  object-fit: cover;
  opacity: 60%;
  border-radius: 20px;
  border: 5px double #ffffff;
  z-index: 0;
}

.nameContainer {
  position: relative;
  top: 25%;
  text-shadow: 2px 2px 2px black;
  z-index: 1;
}

.name {
  font-size: 3.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  border: 2px solid black;
  padding-bottom: 0.5rem;
  padding-left: 10px;
  padding-right: 20px;
  font-family: "Kaushan Script", cursive;
  color: white;
  text-align: center;
}

.dataContainer {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 50px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.id {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.activitiesContainer {
  margin-left: 5rem;
}

.activities {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

.link {
  position: relative;
  display: grid;
  justify-items: center;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.764);
}

.link:link {
  text-decoration: none;
}

.link:hover {
  text-shadow: 5px 5px 3px rgb(0, 0, 0);
}

.link:active {
  text-shadow: 1px 1px 1px rgba(174, 171, 171, 0.764);
}

@media screen and (max-width: 800px) {
  .container {
    display: grid;
  }

  .nameContainer {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    width: fit-content;
    width: 300px;
  }

  .img {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    max-width: 300px;
    max-height: 150px;
    opacity: 1;
  }

  .name {
    position: static;
  }

  .dataContainer {
    position: static;
    display: grid;
    justify-items: center;
    padding: 0;
    padding-bottom: 10px;
    text-align: center;
    margin: 0;
    margin-top: 10%;
  }

  .activitiesContainer {
    margin: 0;
  }
}
