.pageButtons, .homeButton {
  background-color: aquamarine;
  border-radius: 10px;
}

.pageButtons:hover, .homeButton:hover {
  cursor: pointer;
  font-weight: bolder;
  
}

.pageButtons:active, .homeButton:active {
  background-color: rgb(93, 222, 179);
  position: relative;
  top: 1px;
}