.card {
  position: relative;
  max-width: 400px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s;
  z-index: 1;
  margin: 10px;
}

.img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 160px;
  object-fit: cover;
  position: relative;
}

.card:hover img {
  filter: grayscale(0);
}

.info {
  background-color: black;
  opacity: 0.9;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 7px;
  color: white;
  object-fit: cover;
  border-radius: 5px;
  text-overflow: ellipsis;
  white-space: pre;
}

.card:hover .info {
  background-color: #ff5080;
}

.card:hover {
  box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
  transform: scale(1.1);
  z-index: 2;
}

.link {
  width: 100%;
  text-decoration: none;
}

.link:link {
  text-decoration: none;
}