.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(30, 28, 28);
  border-bottom: solid rgba(255, 255, 255, 0.33);
}

.title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-right: auto;
  font-family: 'Caveat', cursive;
  /* font-family: 'Shadows Into Light', cursive; */
  font-size: 2.2rem;
  color: white;
}

.searchBar {
  align-items: flex-end;
}

.logo {
  width: 50px;
  height: 50px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link:link {
  text-decoration: none;
}