.container {
  display: grid;
  justify-items: center;
}

.button {
    max-width: min-content;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    border-color: #c7355c;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    transition: 0.5s;
}


button:hover {
    cursor: pointer;
    background-color: #ff507fd0;
    color: #fff;
    border-color: black;
    box-shadow: 2px 2px black;
}