.container {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(30, 28, 28);
    border-bottom: solid #ff507fd0;
    color: #fff;
}

.sort {
    display: inline-flex;
    margin-right: 5px;
}

.continent {
    display: inline-flex;
    margin-right: 5px;
}

.select {
    margin-right: 20px;
    font-family: 'Trebuchet MS';
}

.select:hover {
    cursor: pointer;
}

.select option {
  background-color: rgb(30, 28, 28);
  width: 2rem;
  height: 1.5rem;
  color: white;
  border: 2px;
  text-align: center;
  font-family: 'Trebuchet MS';
}

@media screen and (max-width: 700px) {
    .container {
        display: grid;
        justify-content: center;
        justify-items: center;
    }
}